@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --text: #0f172a;
  --muted: #64748b;
  --card: #f8fafc;
  --border: #e5e7eb;
  --input-bg: #ffffff;
  --input-text: #0f172a;
  --placeholder: #94a3b8;
}

.dark {
  --bg: #0b0f14;
  --text: #e5e7eb;
  --muted: #9aa4b2;
  --card: #111827;
  --border: #1f2937;
  --input-bg: #0e131b;
  --input-text: #e5e7eb;
  --placeholder: #6b7280;
}


html {
  background: var(--bg);
  color: var(--text);
}

body {
  background: var(--bg);
  color: var(--text);
}

